body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-small {
  width: 25%;
}
